<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container my-3">
    <a class="navbar-brand text-uppercase" href="#">Tourism App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-3">
          <a class="nav-link " routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="dropdown px-3" ngbDropdown>
          <button class="nav-link dropbtn"  routerLinkActive="active" ngbDropdownToggle>Monuments</button>
          <ul class="dropdown-content" ngbDropdownMenu>
              <li><a routerLink="/monuments" ngbDropdownItem>Show all</a></li>
              <li><a routerLink="/monuments" ngbDropdownItem>Most visited</a></li>
              <li><a routerLink="/monuments" ngbDropdownItem>Al Hoceima</a></li>
              <li><a routerLink="/monuments" ngbDropdownItem>Tanger</a></li>
              <li><a routerLink="/monuments" ngbDropdownItem>Tetouan</a></li>
            </ul>
        </li>
        <li class="dropdown px-3" ngbDropdown>
          <button class="nav-link dropbtn"  routerLinkActive="active" ngbDropdownToggle>Circuit</button>
          <ul class="dropdown-content" ngbDropdownMenu>
              <li><a routerLink="/circuit/mycircuits" ngbDropdownItem>Show my circuits</a></li>
              <li><a routerLink="/circuit" ngbDropdownItem>Add new circuit</a></li>
            </ul>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link "  routerLink="/home#signup" fragment="signup"  (click)="navigateToSignup()" routerLinkActive="active">Sign up</a>
        </li>
        <li class="nav-item px-3">
            <button  class="nav-link" (click)="onSignin()" >Sign in</button>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link " routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
        
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="searchText" name="search">
          
        </div>
      </form>
    </div>
  </div>
</nav>
